version: "3.8"

services:
  frontend:
    container_name: optcgsim-aa-download-nginx
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: "unless-stopped"
    expose:
      - "80"
    depends_on:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.optcgsim-aa-download.rule=Host(`crossguild.gg`) && PathPrefix(`/optcgsim-aa-downloader`)"
      - "traefik.http.routers.optcgsim-aa-download.entrypoints=websecure"
      - "traefik.http.routers.optcgsim-aa-download.tls=true"
      - "traefik.http.routers.optcgsim-aa-download.tls.certresolver=letsencrypt"
      - "traefik.http.services.optcgsim-aa-download.loadbalancer.server.port=80"
    networks:
      - web

  backend:
    container_name: optcgsim-aa-download-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: "unless-stopped"
    volumes:
      - backend-data:/app/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.optcgsim-aa-download-api.rule=Host(`crossguild.gg`) && PathPrefix(`/optcgsim-aa-downloader/api`)"
      - "traefik.http.routers.optcgsim-aa-download-api.entrypoints=websecure"
      - "traefik.http.routers.optcgsim-aa-download-api.tls=true"
      - "traefik.http.routers.optcgsim-aa-download-api.tls.certresolver=letsencrypt"
      - "traefik.http.middlewares.optcgsim-api-strip.stripprefix.prefixes=/optcgsim-aa-downloader/api"
      - "traefik.http.routers.optcgsim-aa-download-api.middlewares=optcgsim-api-strip"
      - "traefik.http.services.optcgsim-aa-download-api.loadbalancer.server.port=8000"
    networks:
      - web

volumes:
  backend-data:

networks:
  web:
    driver: bridge
    external: true
    name: web
